

    table, th, td {
        border: 1px solid black;
        background-color: #FBE5D6;
        border-collapse: collapse;
    }

    th, td{
        padding: 10px;
    }
    th {
        text-align: center;
    }
    a.button {
        background-color: #70AD47;
        border: 1px solid black;
        padding: 2px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
./* item{
    border-radius: 10px;
    background: rgba(250, 250, 255, 0.726);
    padding:10px;
}

.grid-container 
{ background: #FBE5D6;
    border-radius: 15px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto;
  background-color: #8fccff;
  padding: 10px;
  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
     width: 90%;
     margin: 0 auto;
     display: gird;
     grid-template-columns: 100px
     200px 300px;
     grid-gap: 20px;
    }

.grid-item {
 
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  mix-blend-mode: color-dodge;
  animation: dodge-area 5s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
 */